body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: #333;
}

.input-section {
  margin: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}